TOJam/Library/CurrentLayout.dwlt
TOJam/Temp/
TOJam/Temp/UnityLockfile/
TOJam/Assets/Sounds/
TOJam/Library/metadata/*
TOJam/Library/metadata/*/*
TOJam/Library/metadata/*/*/*
TOJam/Library/
TOJam/Temp/
TOJam/Obj/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.DS_store
TOJam/Library/CurrentLayout.dwlt
TOJam/Library/LastSceneManagerSetup.txt
TOJam/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
TOJam/Library/UnityAssemblies/version.txt
TOJam/Library/assetDatabase3
TOJam/TOJam.sln