TOJam/Library/CurrentLayout.dwlt
TOJam/Temp/
TOJam/Temp/UnityLockfile/
TOJam/Assets/Sounds/
TOJam/Library/metadata/*
TOJam/Library/metadata/*/*
TOJam/Library/metadata/*/*/*
TOJam/Library/
TOJam/Temp/
TOJam/Obj/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.DS_store
